{% extends 'base.html' %} {% block content %}
<!-- start of article section -->
<article>
  <p>
    <h4 id="info" class="text_centered info"></h4></p>
  <div class="container div-col text_centered">
    <h1 id="title"></h1>
    <h4 id="date"></h4>
    <p id="content"></p>
  </div>
  <div class="container"><span id="delete"> <button onclick="deleteEntry()">delete</button></span></div>
</article>
<script type="text/javascript" src="{{ url_for('static', filename='js/singleEntry.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/deleteEntry.js') }}"></script>
<!-- end of article section -->
{% endblock %}
